/* display.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#qrCode {
    max-width: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageDisplay {
    max-width: 100%;
    display: none;
}
